

<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
    </div> <!--end whitespace -->
          <div class='col-md-6'>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for beer...">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div><!-- /input-group -->
          </div> <!--/6 column container-->
    <div class='col-md-3'>
    </div> <!--end whitespace -->
  </div> <!--end row -->
</div> <!-- /container -->

<div class = 'container'>
  <div class= 'row'>
  <div class='col-md-12'>
    <h1>RECENTLY ADDED BEERS</h1>
</div>
</div> <!--/row -->
</div> <!--/container-->
