

<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
    </div> <!--end whitespace -->
      <div class="row">  <!-- test for drowndown -->
        <div class="col-md-12">

          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Style Category
              <span class="caret"></span>
            </button>
            <ol name="beerStyleCategories" class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li selected value="base">Please Select</a></li>
              <li><a href="#">Belgian And French Origin Ales</a></li>
              <li><a href="#">British Origin Ales</a></li>
              <li><a href="#">European-germanic Lager</a></li>
              <li><a href="#">German Origin Ales</a></li>
              <li><a href="#">Hybrid-Mixed Beer</a></li>
              <li><a href="#">International Ale Styles</a></li>
              <li><a href="#">International Styles</a></li>
              <li><a href="#">Irish Origin Ales</a></li>
              <li><a href="#">Malternative Beverages</a></li>
              <li><a href="#">Mead Cider and Perry</a></li>
              <li><a href="#">North American Lager</a></li>
              <li><a href="#">North American Origin Ales</a></li>
              <li><a href="#">Other Lager</a></li>
              <li><a href="#">Other Origin</a></li>
            </ol>
          </div>
          <!-- Second dropdown selects beer style after beer style category is chosen -->
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Style
              <span class="caret"></span>
            </button>
            <select name="beerStyles" class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li><a href="#">Choose a Style Category First</a></a></li>
              <!-- menu items loaded dynamically in app.js -->
            </select>
          </div>
        </div>


      </div>
      </div><!-- end row -->
          <div class='col-md-6'>
              <div class="input-group">
                <form action="/" method="post">
                  <input type="text" name="search_string" class="form-control" placeholder="Search for beer...">
                  <span class="input-group-btn">
                  <!-- <button class="btn btn-default" type="button">Go!</button> -->
                    <input type="submit" class="btn btn-default" name="name" value="Search">
                  </span>
                </form>
            </div><!-- /input-group -->
          </div> <!--/6 column container-->
    <div class='col-md-3'>
    </div> <!--end whitespace -->
  </div> <!--end row -->
</div> <!-- /container -->

<div class = 'container'>
  <div class= 'row'>
  <div class='col-md-12'>
    <h1>RECENTLY ADDED BEERS</h1>
</div>
</div> <!--/row -->
</div> <!--/container-->
