

<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
    </div> <!--end whitespace -->
      <div class="row">  <!-- test for drowndown -->
        <div class="col-md-12">

          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Dropdown
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li><a href="#">TEN</a></li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li><a href="#">FIVE</a></li>
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li><a href="#">ONE</a></li>
            </ul>
          </div>

        </div>
      </div><!-- end row -->
          <div class='col-md-6'>
              <div class="input-group">
                <form action="/" method="post">
                  <input type="text" name="search_string" class="form-control" placeholder="Search for beer...">
                  <span class="input-group-btn">
                  <!-- <button class="btn btn-default" type="button">Go!</button> -->
                    <input type="submit" class="btn btn-default" name="name" value="Search">
                  </span>
                </form>
            </div><!-- /input-group -->
          </div> <!--/6 column container-->
    <div class='col-md-3'>
    </div> <!--end whitespace -->
  </div> <!--end row -->
</div> <!-- /container -->

<div class = 'container'>
  <div class= 'row'>
  <div class='col-md-12'>
    <h1>RECENTLY ADDED BEERS</h1>
</div>
</div> <!--/row -->
</div> <!--/container-->
