<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Alemanac</title>
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap.css">
    <!-- <link rel="stylesheet" type="type/css" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'> -->
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <script src="/scripts/jquery-2.1.4.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <!-- // <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script> -->
    <script src="/scripts/app.js"></script>
    <!-- Latest compiled and minified CSS -->
  </head>
  <body>
    <div class='wrapper'>

<!-- NAV BAR -->
        <div class="container">
        <nav class="navbar navbar-default navbar-static-top">

              <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img alt="Brand" src="/images/clinkbeers.png" id='navclink'></a>
                  </div>
                  <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav">
                        <li><a href="/users/login">Login<span class="sr-only">(current)</span></a></li>
                        <li><a href="/beers/my_alemanac">My Alemanac</a></li>
                        <li><a href="/beers/new">Add New Beer</a></li>
                          <li><a href="/users/new_user">Create Account</a></li>
                      </ul>
                    </div>
                  </nav>
                </div>

<!-- End Nav Bar -->


<!--Page Headline ADD TO INDEX WHEN DAVID IS DONE WITH INDEX!!!!!!! -->
  <div class = 'container'>
        <div class = 'clearfix' id='well'>
          <!-- <div class='page-header'> -->
            <div id='header1'>
            <img src="/images/clinkbeers.png" class="img-responsive" alt="Responsive image" id='clink'>
          </div>
          <div id="welcome">
            <h1 >Welcome to Alemanac<br><small>Search and save your favorite brews</small></h1>
          </div>
        </div>
      </div>

      <div class='container'>
    <%= yield %>
  </div>

<div class='container'>

    <footer class='footer footer-fixed-bottom' id='feet'>
      <div class='container'>
          <h4>&copy;David Hayes and Kate Shirley
        </div>
    </footer>
  </div>




  </body>
</html>
