<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Alemanac</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap.css">
    <!-- <link rel="stylesheet" type="type/css" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'> -->
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <script src="/scripts/jquery-2.1.4.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <!-- // <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script> -->
    <script src="/scripts/app.js"></script>
    <!-- Latest compiled and minified CSS -->
  </head>
  <body>
    <div class='wrapper'>

<!-- NAV BAR -->
        <div class="container">
        <nav class="navbar navbar-default navbar-static-top">

              <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img alt="Brand" src="/images/clinkbeers.png" id='navclink'></a>
                  </div>
                  <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav">
                        <li><a href="/users/login">Login<span class="sr-only">(current)</span></a></li>
                        <li><a href="/beers/my_alemanac">My Alemanac</a></li>
                        <li><a href="/beers/new">Add New Beer</a></li>
                          <li><a href="/users/new_user">Create Account</a></li>
                          <li id='logout'><a href="/users/logout">Logout</a></li>
                      </ul>
                    </div>
                  </nav>
                </div>

<!-- End Nav Bar -->


<!--Page Headline ADD TO INDEX WHEN DAVID IS DONE WITH INDEX!!!!!!! -->


      <div class='container'>
    <%= yield %>
  </div>

<div class='container'>

    <footer class='footer footer-fixed-bottom' id='feet'>
      <div class='container'>
          <h5 id="copyright">Website &copy; David Hayes and Kate Shirley   <small>|||||</small>   Beer Data &copy; BreweryDB</h5>
        </div>
    </footer>
  </div>




  </body>
</html>
