
<h2><%= @message %></h2>

<% if session[:username] == true %>
  Thanks for using session support, <strong><%= session[:username].name %></strong>,<br>
  You may also <a href='/logout'>logout and clear your session</a>
<% end %>
