<h3>Add a Journal Entry</h3>

<form action="" method="post">

  <input type="text" name="beer_name" placeholder="name of beer">
  <input type="text" name="brewery_name" placeholder="name of brewery">
  <input type="text" name="abv" placeholder="alcohol percentage">
  <input type="text" name="brewery_location" placeholder="location of brewery">
  <input type="text" name="consume_location" placeholder="where did you drink it?">
  <input type="text" name="vote" placeholder="from 1-5, 5 being best">
  <!-- <input type=range id=weight min=10 value=10 max=2000 step=100> -->

  <input type="text" name="notes" placeholder="what did you think about the beer? How was the color, smell, and taste?">
  <input type="submit" value="Add to beer journal">

</form>
