<h2>Register</h2>

<form class="" action="register" method="post">
  <input type="text" name="name" value="" placeholder="Name">
  <input type="password" name="password" value="" placeholder="Password">
  <input type="submit" value="Register">
</form>

<h2>Login</h2>

<form class="" action="/login" method="post">
  <input type="text" name="name" value="" placeholder="Name">
  <input type="password" name="password" value="" placeholder="Password">
  <input type="submit" value="Login">
</form>
