#style_display {
  height: 2rem;
}
#styleId {
  display: none;
}

.well {
  background-image: url('/images/cropped-stock-photo-beer-tasting-189516968.jpg');
  /*background-image: url('/images/cropped-stock-photo-beer-bubbles-in-the-high-magnification-and-close-up-124784641.jpg');*/
}

#beer-facts {
  width: 30%;
}

#beerstyles {
  display: inline-grid;
}
