#style_display {
  height: 2rem;
}
#styleId {
  display: none;
}

.well {
  background-image: url('/images/cropped-stock-photo-beer-tasting-189516968.jpg');
  /*background-image: url('/images/cropped-stock-photo-beer-bubbles-in-the-high-magnification-and-close-up-124784641.jpg');*/
}

#beer-facts {
  width: 30%;
}

#beerStyles {
  display: block;
  margin-top: 10px;
}

#search_box {
  margin-top:10px;

}
#abv {
  margin-top: 5px;
}
